@import "../../mixins.scss";

.footer{
    background-color: var(--black3);
    position: relative;
    z-index: 2;
    .copyright {
        text-align: center;
        color: rgba(255, 255, 255, 0.75);
        font-size: 12px;
        padding: 20px 0;
        text-align: center;
        @include md {
            font-size: 14px;
        }
    }
}